/* Basics */
body {
    color: #000;
    background: none #ffffff;
    font-family: verdana, sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
h1, h2, h3, h4, h5, h6 { 
    margin-bottom: 0.2em; 
    clear: both;
}
h1 { color: #32611F }
h2, h3, h4, h5, h6 	{ color: #1F3D14; }
p { margin-top: 0px; }

ul 	{ margin-top: 0px; }
code 	{ color: #900; }
q 		{ font-style: italic; }

a:link 		{ color: #33f; }
a:visited 	{ color: #808; }
a:active 	{ color: #f00; }

#pageheader {
    position: absolute;
    width: 100%;
    height: 5em;
    z-index: 1;
    top: 30px;
    padding: 0 1em 0 1em;
}
#pageheader h1 {
    margin-top: 0;
}

#zoom-display {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0px solid black;
    overflow: hidden;
}

/* Visual marking of matches from search */
.info_overlay {
    border: 1px dotted grey;
}
.info_content {
    visibility: hidden;
    padding: 10% 10% 10% 10%;
}

.info_overlay:hover .info_content {
    width: 100%;
    height: 100%;
    visibility: visible;
}
.info_aoi {
    width: 100%;
    height: 100%;
    border: 3px solid blue;
    border-radius: 50%;
    background: #aaa;
    opacity: 0.5;
    pointer-events: none;
}
.info_text {
    width: 100%;
    min-width: 20em;
    border: 1px solid black;
    position: relative;
    top: -2em;
    background: #fff;
    opacity: 0.9;
    color: black;
    pointer-events: all;
}
#searchbox, #collapsor {
    color: #32611F;
}

/* Used when there are too many matches for animation to be feasible */
.domain-overlay-hp {
    border: 5px solid red;
    border-style: dashed;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.0); // Trick to get title to display a tooltip on hover
                                                width: 100px;
    height: 100px;
}

/* Animated overlay for fewer matches */
.domain-overlay {
    border: 5px solid red;
    border-style: dashed;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.0); // Trick to get title to display a tooltip on hover
                                                width: 100px;
    height: 100px;

    // https://stackoverflow.com/questions/16771225/css3-rotate-animation
    -webkit-animation: spin 7s linear infinite;
    -moz-animation: spin 7s linear infinite;
    animation: spin 7s linear infinite;
}
@-moz-keyframes spin {
    0%   { -moz-transform: rotate(0deg); border-color: red; }
    25%  { -moz-transform: rotate(90deg); border-color: blue; }
    50%  { -moz-transform: rotate(180deg); border-color: pink; }
    75%  { -moz-transform: rotate(270deg); border-color: blue; }
    100% { -moz-transform: rotate(360deg); border-color: red; }
}
@-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg); border-color: red; }
    25%  { -webkit-transform: rotate(90deg); border-color: blue; }
    50%  { -webkit-transform: rotate(180deg); border-color: pink; }
    50%  { -webkit-transform: rotate(270deg); border-color: blue; }
    100% { -webkit-transform: rotate(360deg); border-color: red; }
}
@keyframes spin {
    0%   { -webkit-transform: rotate(0deg); transform:rotate(0deg); border-color: red; }
    25%  { -webkit-transform: rotate(90deg); transform:rotate(90deg); border-color: blue; }
    50%  { -webkit-transform: rotate(180deg); transform:rotate(180deg); border-color: pink; }
    75%  { -webkit-transform: rotate(270deg); transform:rotate(270deg); border-color: blue; }
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); border-color: red; }
}
